.container,.container-fluid{
  border: 3px solid navy;
}
.row{
  border: 2px solid red;
}
.col-5,.col-12{
  border: 2px solid yellow;
}

.icon-size{
  font-size: 40px;
  margin-top: 0px;
  margin-left: 15px;
}


  

